{% extends "CommunityGroupBundle::layouts.html.twig" %}

{% block title %}

    шоишо║: {{ thread.content | striptags | truncate(20) }}

{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            {% include 'CommunityGroupBundle:Group:thread/index_content.html.twig' %}
        </div>
    </div>

{% endblock %}
