{% extends "FrontendContentBundle::layouts.html.twig" %}


{% block body %}

    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>课程信息</h1>
                </div>
            </div>
        </div>
    </div>
    {% include "FrontendContentBundle:Course:display/index_content.html.twig" %}

{% endblock %}