<div class="col-md-12">
<div class="panel">
    <div class="panel-body">

        {{ render_esi( controller('CommunityElementBundle:Mega:user' , { 'menu_title' : '更新资料' } )) }}

    </div>
</div>

<div class="panel">
    <div class="panel-body">

        {{ form_errors( form) }}
        {{ form( form ) }}

    </div>
</div>

</div>

