
{% extends "CommunityGroupBundle::layouts.html.twig" %}


{% block content %}

    <div class="container">
        <div class="row">
            {% include 'CommunityGroupBundle:Default:member/index_content.html.twig' %}
        </div>
    </div>

{% endblock %}
