{% extends "CommunityGroupBundle::layouts.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            {% include 'CommunityGroupBundle:Home:index_content.html.twig' %}
        </div>
    </div>

{% endblock %}

