{% extends "FrontendContentBundle::layouts.html.twig" %}

{% block body %}
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>全面精益管理系列培训课程</h1>
                </div>
            </div>
        </div>
    </div>
    {% include "FrontendContentBundle:Course:index/index_content.html.twig" %}

{% endblock %}